body::-webkit-scrollbar{
    display: none;
}

body{
    margin: 0;
    padding: 0;    
    --twitter-color: #50b7f5;
    --color-background: #c1f0c1;
    font-family: 'Ubuntu', sans-serif;
}

::-moz-selection { /* Code for Firefox */
    background: var(--color-background);
  }
  
::selection {
    background: var(--color-background);
  }
@media only screen and (min-width: 600px){
    .bottom{
        display: none;
    }
}


